extends layout

block content
    h1 Enter a message
    form(action="/new", method="post" class="newMessageForm") 
        label(for="messageUser") Name
        input(type="text" name="messageUser" id="messageUser" maxLength="50" value=(undefined==newMessage ? "" : newMessage.user))
        label(for="messageText") Message
        textarea(name="messageText", cols="30", rows="3" id="messageText" maxLength="250" value=(undefined==newMessage ? "" : newMessage.text))
        input(type="submit", value="Submit")

    if errors
        ul
            for error in errors
                li!=error.msg